*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: boder-box;
}



section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex;
    align-items: center;
    background: #161616;
   
}

 section .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e51e2a; 
    clip-path: circle(70% at right -20%); 

}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-width: 250px;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li{
  list-style: none;

}

header .navigation li:hover{
    transform: scale(1.1);
  
  }

header .navigation li a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
  
}


.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    
}

.content .text-Box{
    position: relative;
    max-width: 700px;
    margin-right: 20px;
}

.content .text-Box h2{
    color: #fff;
    font-size: 2em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
  
    
}

.content .text-Box p{
    color: #fff;
    font-size: 0.9em;
    margin-top: 30px;
   
}
.content .text-Box a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #e51e2a;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
}

.content .text-Box a:hover{
    background: #881119;
}

.sci{
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
 
}
.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    margin-left: 15px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
 
}

.sci li a:hover{
    background: #e52e2a;
    transform: translateY(-30px);
}

.sci li a img{
    filter: invert(1);
    transform: scale(0.5s);
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 460px;
    display: flex;
    justify-content: center;
  }

 .content .img-Box{
     width: 500px;
     display: flex;
     justify-content: flex-end;
 }

 .content .img-Box img{
    max-width: 100px;
    margin-bottom: 80px;
 }

 .mtop{
     margin-top: 150px;
 }

/* .swiper-slide img{
    position: absolute;
    bottom: 0;
    max-height: 100%;
} */

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: none;
}

.swiper-container-3d .swiper-slide-shadow-right{
    background-image: none;
}

@media (max-width: 991px) {
    header{
        padding: 40px;
    }

    section{
       padding: 150px 20px;
    }
    .sci{
        left: 40px;
    }
    .content{
        flex-direction: column;
    }
    .content .text-Box, .content .img-Box{
        max-width: 100%;
    }
    .swiper-slide {
        height: 300px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #e51e2a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        background: url('./img/menu.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 10000;
    }
    .toggle.active{
        position: fixed;
        right: 40px;
        background: url('./img/close.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header .navigation li a{
       margin: 10px 0;
       font-size: 1.5em;
       font-weight: 500;
    }
}